PORT=5000
DATABASE_URL="postgresql://admin:password@localhost:5434/chainsphere?schema=public"
REDIS_URL="redis://localhost:6379"
KAFKA_BROKER="localhost:9094"
HARDHAT_RPC_URL="http://127.0.0.1:8545"
PINATA_JWT="your_pinata_jwt_here"
PINATA_GATEWAY="your_pinata_gateway_here"
